[paths]
source =
   toil_example
   /test/toil_example

[run]
source =
    toil_example

omit =
    *toil_example/__main__.py

[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
