language: python

python:
  - 2.7

services:
  - docker

install:
  - pip install -U codecov

script:
  - bash test-container.sh

after_success:
  - codecov

deploy:
  provider: pypi
  distributions: sdist bdist_wheel
  skip_existing: true
  user: leukgen
  password: <TO REPLACE THIS RUN `travis encrypt --add deploy.password`>
  on:
    tags: true
    repo: leukgen/toil_example
    python: 2.7
    branch: master
